/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

// .home .hero img
//   max-width 450px!important

.home header.hero img
  max-height 380px

hr.v-divider
  margin: 20px

// vuetify overrides * with margin 0
p, ul, ol
  margin: 16px 0

ul ul, ol ol, ul ol, ol ul
  margin: 0
