/**
 * Custom palette here.
 *
 * ref: https://v2.vuepress.vuejs.org/reference/default-theme/styles.html
 */

:root {
  --c-brand: #3eaf7c;
  --c-brand-light: #4abf8a;
  --c-text: #2c3e50;
  --c-border: #eaecef;
  --code-bg-color: #282c34;
}

