[submodule "src/libraries/qmarkdowntextedit"]
	path = src/libraries/qmarkdowntextedit
	url = https://github.com/pbek/qmarkdowntextedit.git
[submodule "src/libraries/piwiktracker"]
	path = src/libraries/piwiktracker
	url = https://github.com/pbek/qt-piwik-tracker.git
[submodule "src/libraries/qkeysequencewidget"]
	path = src/libraries/qkeysequencewidget
	url = https://github.com/pbek/qkeysequencewidget
[submodule "src/libraries/qttoolbareditor"]
	path = src/libraries/qttoolbareditor
	url = https://github.com/pbek/Qt-Toolbar-Editor.git
