[submodule "src/libraries/qmarkdowntextedit"]
	path = src/libraries/qmarkdowntextedit
	url = https://github.com/pbek/qmarkdowntextedit.git
[submodule "src/libraries/piwiktracker"]
	path = src/libraries/piwiktracker
	url = https://github.com/pbek/qt-piwik-tracker.git
