*.pro.user
build
build-QOwnNotes*
build-tools
.directory
bin/*
build-tests-*
.idea
cmake-build-*
doc/build
*.qmlc
stage
parts
prime
*.snap
snap/.snapcraft/state
src/languages/*.qm
.vscode/
CMakeLists.txt.user*
*.o
qrc_*.cpp
moc_*.cpp
moc_*.h
ui_*.h
/src/.qmake.stash
/src/Makefile
/src/QOwnNotes
secrets/*
.shared

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
