pkgbase = qownnotes-pbek
	pkgdesc = QOwnNotes is a open source notepad and todo list manager with markdown support and ownCloud integration. This package is the "official" release of QOwnNotes on AUR.
	pkgver = VERSION-STRING
	pkgrel = 1
	url = http://www.qownnotes.org/
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = git
	depends = gcc
	depends = qt5-base
	depends = qt5-svg
	depends = qt5-script
	source = https://github.com/pbek/QOwnNotes.git

pkgname = qownnotes-pbek
