pkgbase = qownnotes
	pkgdesc = Plain-text file markdown note taking with Nextcloud/ownCloud integration. This package is the "official" release of QOwnNotes on AUR.
	pkgver = VERSION-STRING
	pkgrel = 1
	url = https://www.qownnotes.org/
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = git
	depends = gcc
	depends = qt5-base
	depends = qt5-svg
	depends = qt5-declarative
	depends = qt5-websockets
	depends = qt5-tools
	depends = qt5-x11extras
	depends = aspell
	source = https://github.com/pbek/QOwnNotes.git

pkgname = qownnotes
