[Desktop Entry]
Name=QOwnNotes
Comment=Plain-text file markdown note taking with Nextcloud/ownCloud integration
Exec=qownnotes
Icon=${SNAP}/meta/gui/QOwnNotes.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Qt;TextEditor;Todo;
StartupWMClass=QOwnNotes
