[Desktop Entry]
Name=QOwnNotes
Comment=Plain-text file markdown note taking with Nextcloud/ownCloud integration
Exec=QOwnNotes
Keywords=markdown;owncloud;nextcloud;notes;
Icon=QOwnNotes
Type=Application
Terminal=false
StartupNotify=true
Categories=Utility;TextEditor;
StartupWMClass=QOwnNotes
