name: Build Webpage
on:
  pull_request:
    branches: [ develop ]

defaults:
  run:
    working-directory: webpage

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - id: files
      uses: jitterbit/get-changed-files@v1
      with:
        format: 'csv'
    - id: changes
      name: Check if we want to build the webpage
      run: |
        unset DO_BUILD
        mapfile -d ',' -t added_modified_files < <(printf '%s,' '${{ steps.files.outputs.added_modified }}')
        for changed_file in "${added_modified_files[@]}"; do
          if [[ ${changed_file} == "CHANGELOG.md" ]] || [[ ${changed_file} = screenshots* ]] || [[ ${changed_file} = webpage* ]] || [[ ${changed_file} = ".github/workflows/build-webpage.yml" ]] ;
          then
            echo "'${changed_file}' matches, we will build"
            DO_BUILD='true'
          fi
        done
        echo "DO_BUILD: ${DO_BUILD}"
        echo ::set-output name=DO_BUILD::${DO_BUILD}
    - if: steps.changes.outputs.DO_BUILD
      name: Use Node.js
      uses: actions/setup-node@v1
    - if: steps.changes.outputs.DO_BUILD
      run: yarn install
    - if: steps.changes.outputs.DO_BUILD
      run: yarn run build
