// https://zellij.dev/documentation/creating-a-layout
layout {
  tab name="Launchpad" focus=true split_direction="horizontal" {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    // Those need more space, because of the signature key entry dialog
    pane split_direction="vertical" {
      pane name="launchpad" command="../ubuntu-launchpad/build-for-launchpad.sh"
      pane name="launchpad-qt6" command="../ubuntu-launchpad/build-for-launchpad-qt6.sh"
    }
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tab name="OBS, AUR, Gentoo, Slackware, Snap" split_direction="horizontal" {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
      pane name="obs" command="../obs/build-for-obs.sh"
      pane name="aur" command="aur/build-for-aur.sh"
    }
    pane split_direction="vertical" {
      pane name="gentoo" command="gentoo/build-for-gentoo.sh"
      pane name="slackware" command="slackware/build-for-slackware.sh"
    }
    pane split_direction="vertical" {
      pane name="snap" command="snap/build-for-launchpad-snap.sh"
      pane name="obs-cmake-qt6" command="obs/cmake-qt6/build-for-obs.sh"
    }
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
}
