layout {
  tab split_direction="horizontal" {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
      pane name="arch" command="arch/build-for-arch.sh"
      pane name="fedora" command="fedora/build-for-fedora.sh"
    }
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tab split_direction="horizontal" {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
      pane name="obs" command="../obs/build-for-obs.sh"
      pane name="aur" command="aur/build-for-aur.sh"
    }
    pane split_direction="vertical" {
      pane name="gentoo" command="gentoo/build-for-gentoo.sh"
      pane name="slackware" command="slackware/build-for-slackware.sh"
    }
    pane split_direction="vertical" {
      pane name="snap" command="snap/build-for-launchpad-snap.sh"
      pane focus=true
    }
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
}
